.entirebody{
    background:#272727;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #272727;
    border-color: #272727;
    filter: blur(100);
}

.name{ 
    font-size: 30px;
    font-weight: bold;
    color: #ffe440;
    background:#272727;
    flex-grow:.8;
    font-size: 70px;
    padding: 35px;
}

@media(max-width= 427px){
    .name{
        font-size: 30px;
    }
}

.container{
    display: flex;
    gap:1em;
}

.top-home1{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    position: relative;
    backdrop-filter: blur;
}

@media (max-width=427px){
    .top-home1{
        font-size: 30px;
    }
}

.top-home2{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    transition: 0.6s;
    position: relative;
}

.top-home3{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    transition: 0.6s;
    position: relative;
}

.top-home4{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    transition: 0.6s;
    position: relative;
}

.top-home5{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    transition: 0.6s;
    position: relative;
}

.top-home6{
    text-decoration: none;
    flex-direction: row;
    color: #ffe440;
    border: 0px solid;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #272727;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
}


.top-home1:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition-duration: 0.6s;
}


.top-home1:hover::after {
    content: 'Home';
    animation: appear 1s forwards 1s;
  }

.top-home2:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition: 0.6s;
    transform: scale(1.0);
}

.top-home2:hover::after{
    content:'About';
    transition: 0.6s;
    animation: 0.6s forwards;
}

.top-home3:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition: 0.6s;
    transform: scale(1.0);
}

.top-home3:hover::after{
    content:'Work';
    transition: 0.6s;
    animation: 0.6s forwards;
}

.top-home4:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition: 0.6s;
    transform: scale(1.0);
}

.top-home4:hover::after{
    content:'Project';
    transition: 0.6s;
    animation: 0.6s forwards;
}

.top-home5:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition: 0.6s;
    transform: scale(1.0);
}

.top-home5:hover::after{
    content:'Skills';
    transition: 0.6s;
    animation: 0.6s forwards;
}
.top-home6:hover{
    background-color: #ffe440;
    color: #272727;
    border-radius: 1000px;
    transition: 0.6s;
    transform: scale(1.0);
}

.top-home6:hover::after{
    content:'Contact';
    transition: 0.6s;
    animation: 0.6s forwards;
}

.material-symbol-outlined{
    size: 50px;
}

.shape{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    background-color: #272727;
}

.about-whole{
    display: flex;
    justify-content: space-evenly;
    background-color: #2c2b2b;
}

.about-title{
    font-size: 500%;
    color:#ffe400;
}

.work-whole{
    display: flex;
    justify-content: space-evenly;
    background-color: #313131;
}       

.work-title{    
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    font-size: 500%;
    color: #14a76c;
    position:relative;
}           

.project-whole{
    background-color: #3e3e3e;
}

.project-title{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    font-size: 500%;
    color: #f1774b;
}

.project-title:hover{
    border-color: #1f1917;
    border: 0px solid;
    transition: .3s ease-in-out;
    text-decoration:underline;
    text-transform: none;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    border: 1px white solid;
    height: 100px;
    align-self: start;
    align-content: row;
}

.project1{
}

.skills-whole{
    background-color: #6d6c5e91;
}

.skills{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    color:#ffe400;
    font-size: 500%;    
}

.skills-details{
    display: flex;
    justify-content: space-evenly;
    padding: 70px;
    flex-direction: row;
    align-items: center;

}

.skills-box1{
    border: 1px white solid;
    padding: 0px;
    width: 100px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.C{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: #747474;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff652f;
    border: 2px #747474;
    border-radius: 8px;
    opacity: 100%;
}

.C:hover{
    background-color: #74747480;
    color:#f1774b;
    transform: scale(1.1);
    transition: .6s;
    border-radius: 10px;
    font-weight: 200;
}

.C:hover::backdrop{
    transition:0.6s;
    transform: scale(1.19);
}

.skills-box2{
    display: flex;
    justify-content: space-evenly;
    
    border: 2px white solid;
    
    padding: 0px;
    width: 100px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.css{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: #747474;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffe400;
    border: 2px #747474;
    border-radius: 8px;
    opacity: 100%;
}

.css:hover{
    background-color: #74747480;
    color: #ffe600ca;
    transform: scale(1.1);
    transition: 0.6s;
    border-radius: 10px;
    font-weight: 200;
}

.skills-box3{
    display: flex;
    justify-content: space-evenly;
    
    border: 2px white solid;
    
    padding: 0px;
    width: 100px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.Java{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: #747474;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #14a76c;
    border: 2px #747474;
    border-radius: 8px;
    opacity: 100%;
}

.Java:hover{
    background-color: #74747480;
    color: #14a76c;
    transform: scale(1.1);
    transition: 0.6s;
    border-radius: 10px;
    font-weight: 200;
}

.contact-whole{
    background-color: #ffe400;
}

.contact_support{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;;
    font-size: 500%;
}

.footer{
    color: #272727;
    text-align:center;
    margin-top: 0px;
    font-weight: bold;
}